.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  height: 100px;
  width: 150px;
  background-color: #222221;
  cursor: pointer;
  z-index: -1;

  svg {
    padding: 10px;
    margin-left: auto;
  }

  span {
    color: #f6eee3;
    text-transform: uppercase;
    transition: color 0.5s;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #f92f2d;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .background {
      height: 100%;
    }

    svg {
      line {
        stroke: #f6eee3;
      }
    }

    span {
      color: #f6eee3;
    }
  }
}
