.stripes {
  height: 100vh;
  display: flex;
  flex-flow: row-reverse;
  z-index: 2;

  .stripe {
    height: 100%;
    width: 20vw;

    .background {
      height: 100%;
      width: 100%;
      background-color: #f92f2d;
    }
  }
}
