.stripes {
  height: 100vh;
  display: flex;
  flex-flow: row-reverse;

  .stripe {
    height: 100%;
    width: 20vw;

    .background {
      height: 100%;
      width: 100%;
      background-color: black;
    }
  }
}
